<section class="text-center">
  <br><br>
  <div class="sad-ie"></div>
  <br><br>
  <h3s>Sorry, IE and Edge are not supported.</h3s>
  {{!-- <button {{action 'toTest'}} class="btn bg-primary">前往测试页</button> --}}
</section>
