{{#unless isPopup}}
  {{page-header
    pageScope=pageScope
    goToPrevious="goToPrevious"
  }}
{{/unless}}
<main class="clearfix">
  {{top-header
    pageScope=pageScope
    goToPrevious="goToPrevious"
  }}
  <div class="main-page-container">
    {{outlet}}
  </div>
</main>
{{!-- {{#unless isPopup}}
  {{page-footer
    showAbout="showAbout"
  }}
{{/unless}} --}}
